<div class="hero-section">
    <h1>Bienvenido a la App Oficial de Rick and Morty</h1>
    <h2>¡Explora el universo de Rick and Morty y descubre a tus personajes favoritos!</h2>
    <p>
      Sumérgete en las aventuras de este fascinante universo, donde puedes conocer a los personajes más icónicos de la serie.
      Además, si tienes alguna pregunta o comentario, ¡no dudes en contactarnos a través de nuestro formulario de contacto!
    </p>
    <button class="cta-button" routerLink="/characters">Explorar Personajes</button>
    <button class="cta-button" routerLink="/contact">Contáctanos</button>
  </div>
  